@font-face {
    font-family: 'material';
    src: url("../webfonts/Roboto-Regular.ttf");
}

body {
    background-position: center !important;
    background-size: cover !important;
    background-attachment: scroll;
    overflow-y: auto;
    font-family: 'material';
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #edc905;
    border-radius: 10px;
}

#todosList::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
}

#bookmarksList::-webkit-scrollbar-thumb {
    background-color: #28a745;
}


::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);

}

h4 {
    color: rgba(245, 245, 245, 0.753);
}

button:focus {
    outline: 0 !important;
}

/* settings */
#settings-button {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#upload-wallpaper {
    margin: 5px;
}

#bookmarksList>.btn-group {
    margin: 5px;
}

.form-control {
    border: 1px solid #00000054;
    background-color: rgba(61, 61, 61, 1);
    border-radius: 24px;
    color: rgba(245, 245, 245, 0.753);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10),
        0 3px 6px rgba(0, 0, 0, 0.10);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10),
        0 3px 6px rgba(0, 0, 0, 0.10);
}

.form-control:focus {
    border: 1px solid #00000054;
    color: whitesmoke;
    background-color: rgba(61, 61, 61, 1);
}

.modal-content {
    background-color: rgba(15, 15, 15, 0.8);
    color: rgba(245, 245, 245, 0.9);
}

.modal-content h4 {
    color: white;
    font-weight: bold;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.dark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 24px;
}

.checkbox-container:hover input~.dark-checkbox {
    background-color: rgb(99, 99, 99);
}

.dark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.dark-checkbox:after {
    display: block;
}

.checkbox-container .dark-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-header {
    border: none;
}

.close {
    color: whitesmoke;
}

.close:hover {
    color: whitesmoke;

}

.modal-footer {
    border: none;
}

textarea {
    overflow-y: scroll;
    height: 200px;
    width: 300px;
    resize: none;
    margin: 5px;
}

.btn {
    border: none;
    border-radius: 36px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
}

.btn:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.17),
        0 10px 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.17),
        0 10px 10px rgba(0, 0, 0, 0.17);
}

.btn:focus {
    outline: none !important;
}

#language {
    position: absolute;
    left: 10px;
}

select:hover {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.custom-file-select {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    overflow: hidden;
}

.custom-file-select i {
    margin-right: 10px;
}

/* pomodoro */
#pomodoro-section {
    position: relative;
    overflow: hidden;
    padding-top: 4%;
    color: rgba(245, 245, 245, 0.842);
    width: 220px;
    height: 220px;
    border: 2px rgba(0, 0, 0, 0.3) solid;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
}

#emj {
    position: absolute;
    left: 40px;
    font-size: 150px;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

#minute {
    margin: 10px 0px;
    display: block;
    height: 75px;
    width: 216px;
}

#minute>p {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

#pomodoro-section .water span {
    display: block;
    width: 100%;
}

#pomodoro-section .wave {
    background: url("../images/wave.png");
    height: 20px;
    background-size: contain;
    -webkit-animation: wave 15s ease-in-out infinite;
    animation: wave 15s ease-in-out infinite;
}

#pomodoro-section .deep-water {
    background: rgb(4, 103, 246);
}

@-webkit-keyframes wave {
    0% {
        background-position: 0px 0px;
    }

    50% {
        background-position: 500px 0px;
    }

    100% {
        background-position: 0px 0px;
    }
}

@keyframes wave {
    0% {
        background-position: 0px 0px;
    }

    50% {
        background-position: 500px 0px;
    }

    100% {
        background-position: 0px 0px;
    }
}

.water {
    position: absolute;
    z-index: -1;
    bottom: -20px;
    width: 220px;
    opacity: .6;
}

#historybtn {
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

#history>button {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 50%);
}

@keyframes easeOutElastic {
    0% {
        transform: translateX(0%);
    }

    16% {
        transform: translateX(-132.27%);
    }

    28% {
        transform: translateX(-86.88%);
    }

    44% {
        transform: translateX(-104.63%);
    }

    59% {
        transform: translateX(-98.36%);
    }

    73% {
        transform: translateX(-100.58%);
    }

    88% {
        transform: translateX(-98.8%);
    }

    100% {
        transform: translateX(-99%);
    }
}

@keyframes easeInElastic {
    0% {
        transform: translateX(0%);
    }

    4% {
        transform: translateX(-0.04%);
    }

    8% {
        transform: translateX(-0.16%);
    }

    14% {
        transform: translateX(-0.17%);
    }

    18% {
        transform: translateX(0.04%);
    }

    26% {
        transform: translateX(0.58%);
    }

    28% {
        transform: translateX(0.55%);
    }

    56% {
        transform: translateX(4.63%);
    }

    58% {
        transform: translateX(4.4%);
    }

    86% {
        transform: translateX(37.06%);
    }

    100% {
        transform: translateX(-99%);
    }
}

#history.no-animation {
    -webkit-animation: none;
    animation: none;
}

#history {
    position: absolute;
    top: 0;
    right: -102%;
    z-index: 1;
    width: 220px;
    height: 220px;
    opacity: 1;
    display: flex;
    padding: 75px 15px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    animation: easeInElastic 2s reverse;
}

#history.show {
    display: flex;
    animation: easeOutElastic 2s forwards;
}


#history .skill {
    position: relative;
    flex: 1;
    text-align: center;
}

#history .skill .graph {
    position: absolute;
    bottom: 0;
    width: 20px;
    background: crimson;
}

#history .skill .graph:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 0;
    background: crimson;
}

#history .skill .graph:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: crimson;
}

#history .skill .name {
    position: absolute;
    bottom: -18px;
    color: rgba(245, 245, 245, 0.842);
    font-size: 11px;
}

/* todo */
#todosList {
    height: 400px;
    overflow-y: auto;
    padding-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#todos li {
    color: whitesmoke;
    line-height: 22px;
    max-height: 40px;
    overflow: hidden;
    padding: 7px 25px;
    padding-right: 30px;
    margin-bottom: 4px;
    border-radius: 36px;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
}

#todos li:nth-child(even) {
    background: rgba(0, 0, 0, 0.5);
}

#todos li:hover {
    max-height: 200px;
}

.fas.fa-check-circle {
    color: #17a2b8;
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.fas.fa-book-open {
    position: absolute;
    right: 5px;
    color: #17a2b8;
    opacity: 0.8;
    margin: 3px;
}

#todos>li>a:nth-child(2) {
    color: #17a2b8;
}

#todos>li>a:nth-child(2):hover {
    text-decoration: none;
}

#todos li:hover,
#todos li:hover .fas.fa-check-circle {
    max-height: 200px;
    opacity: 1;
}

/* search */
#main-section form#google-search-form img {
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/* bookmarksList */
#bookmarksList {
    padding: 10px;
    margin-bottom: 5px;
    height: 500px;
    width: 500px;
    overflow-y: auto;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#bookmarksList div.btn-group a.btn.btn-dark img {
    padding: 0 5px;
    height: 19px;
}

#bookmarksList div.btn-group a.btn.btn-dark.edit-item {
    padding-left: 0;
    z-index: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#bookmarksList div.btn-group a.btn.btn-dark.edit-item i.fas.fa-ellipsis-v {
    font-size: 14px;
    color: whitesmoke;
    opacity: 0;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}

#bookmarksList div.btn-group:hover a {
    background-color: #23272b;
    border-color: #1d2124;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13),
        0 3px 6px rgba(0, 0, 0, 0.20);
}

#bookmarksList div.btn-group a.btn.btn-dark.edit-item:hover i.fas.fa-ellipsis-v {
    opacity: .8;
}

#alertInTodo {
    position: relative;
}

#alertInTodo div {
    position: absolute;
    right: -15px;
    cursor: progress;
}

#alertInBookmark {
    position: relative;
    float: none;
}

#alertInBookmark div {
    position: absolute;
    left: -130px;
    cursor: progress;
}

#alertInNotes {
    position: relative;

}

#alertInNotes div {
    position: absolute;
    right: 0;
    cursor: progress;
}

#alertInBookmark {
    position: absolute;
    left: 50%;
    bottom: 5%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#alertSettings {
    position: absolute;
    top: 5px;
    right: 40px;
    cursor: pointer;
}

/* noteList */
#noteList {
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {

    #main-section form#google-search-form img,
    #main-section form#google-search-form input {
        display: none;
    }

    #todosList,
    #bookmarksList,
    #noteList {
        height: 300px;
    }
}